.example-full-width{
    width: 100%;
}
// .row{
//     border-bottom: rgb(219, 212, 212) 1px solid;
// }    
.mat-raised-button{
    zoom: 85%;
}
.mat-flat-button{
    width: 100%;
}
th{
    text-align: center;
}

.btn-warning{
    height: 36px;
    width: 100%;
    color: #fff;
}
#edit{
    display: none;
}