<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Plan your day!</h1>
            <h3>User: Ivan Ivanov. Count of task 6</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Wright a new task!"  [formControl]="input"  [(ngModel)]="taskName" name="taskName" required>
              </mat-form-field>
        </div>
        <div class="col-lg-4 d-flex align-items-center">
            <button mat-flat-button color="primary" (click)="addTask()" [disabled]='!input.valid' >Add</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-hover table-sm">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Task</th>
                    <th scope="col">Check</th>
                    <th scope="col">DONE/IN PROGRESS</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let task of tasksArr, let i=index">
                        <th>{{i+1}}</th>
                        <th>{{task.taskName}}</th>
                        <th> <mat-checkbox class="example-margin" [checked]="task.checked" (change)="onChange($event, i, task)" ></mat-checkbox></th>
                        <th [ngStyle]="{'color': task.checked? 'green' : 'red'}">{{task.status}}</th>
                        <th><button mat-raised-button  color="primary" (click)="editTask(i)">Edit</button></th>
                        <th><button mat-raised-button  color="warn" [disabled]='!task.checked' (click)="deleteTask(i)">Delete</button></th> 
                    </tr>
                </tbody>
                </table>
        </div>
    </div>
    <div class="row" id="edit">
        <div class="col-lg-8">
            <input type="text" class="form-control" [(ngModel)]="editTaskName" name="editTaskName">
        </div>
        <div class="col-lg-4">
            <button type="button" class="btn btn-warning" (click)="saveEdit()">Save</button>
        </div>

    </div>

</div>
