.container{
    margin-top: 50px;
}
.mat-form-field{
    width: 100%;
}
.table-striped{
    box-shadow: 5px 5px 50px gray;
    
}
.mat-raised-button{
    zoom: 80%;
}   
th{
    text-align: center;
}
